@charset "utf-8";
@mediascreenand(max-device-width:500px) {
	.column {
		float: none;
		width: auto;
	}
	#sidebar {
		display: none;
	}
}

* {
	margin: 0px;
	text-decoration: none;
	padding: 0px;
}

body{
	font-family: 'cinzel', sans-serif;
	margin: 0px;
	text-align: center;
}

h1{
	font-size: 3rem;
}

h4{
	font-family: 'Montserrat', sans-serif;
}

.logo {
	display: inline-block;
	padding: 1% 2%;
	margin: 2% 0% 1% 0%;
	border: solid 3px black;
}

.logolink {
	color: inherit;
}

.navlink_listitem {
	padding: 0 0.25% 1% 0.25%;
	float: center;
	color: black;
	line-height: 45px;
	display: inline-block;
}

.navlink{
 text-decoration: none;
 outline: none;
 color: black;
 display: block;
 padding: 0 1.5rem;
}

.navlink:hover, .navlink:focus{
	 border:1px solid  #D3D3D3 ;
}

.navlink:active{
	text-decoration: underline;
}

a {
	color: inherit;
}


.navbutton{
	border: none;
	background-color: black;
	padding: 10px;
	margin: 2% auto;
	color: white;
	font-family: "Cinzel", serif;
	font-size: 1.25rem;
}

.brandintro{
	max-width: 30%;
	text-align: center;
	margin: 0 auto 3% auto;
}

.productline_intro{
	max-width: 50%;
	text-align: center;
	margin: 3% auto 4% auto;
	padding: 2%;
}

h3{
	font-family: 'Montserrat', sans-serif;
}

.whats_new{
	display: inline-block;
	padding: 0.3rem 1rem;
	border: solid 1px grey;
	margin-bottom: 1rem;
}

#box1 {
	margin-top: 40px;
}

#product_box {
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;

	flex-wrap: -webkit-flex;
	flex-wrap: -ms-flex;
	flex-wrap: wrap;
}

#product_box_item {
  flex: 1 1 auto;
  padding: 1rem 1rem;
  margin: 0.5rem 2rem;
}

#box_space{
	flex: 1 0 auto;
}

.product_text{
	font-family: 'Montserrat', sans-serif;
}

.how_we_started{
	display: table;
	margin: 3% auto;
}

.decoration_line_left{
	float:center;
	width: 35%;
	margin-left: auto;
	display: table-cell;
	vertical-align: middle;
}

.decoration_line_right{
	float:center;
	width: 35%;
	margin-right: auto;
	display: table-cell;
	vertical-align: middle;
}
.how_we_started_text{
	display: table-cell;

}

.about_us_image{
	max-width: 50%;
}

.about_us_text{
	max-width: 75%;
	margin: 2% auto;
}


#content {
	padding: 0px;
	margin: 0px auto;
	width: 966px;
	height: 644px;
	position: relative;
}


/*容器中图片样式*/

#content img {
	width: 966px;
	height: 644px;
	position: absolute;
}


/*在光标图片上时,为小手状态*/

#content:hover {
	cursor: pointer;
}


/*图片隐藏*/

.imgshow {
	display: block;
}


/*图片显示*/

.imghide {
	display: none;
}

#left,
#right {
	position: absolute;
	width: 25px;
	height: 50px;
	background-color: gray;
	color: white;
	line-height: 50px;
	text-align: center;
	font-size: 22px;
	border-radius: 5px;
}

#left {
	top: 297px;
	left: 0px;
}

#right {
	top: 297px;
	margin-left: 940px;
}

#left:hover,
#right:hover {
	opacity: 0.5;
}

#nav:hover {
	cursor: default;
}

#nav div {
	width: 20px;
	height: 20px;
	border-radius: 10px;
	margin-left: 10px;
	margin-top: 5px;
	float: left;
}

.divshow {
	background-color: antiquewhite;
}

.divhide {
	background-color: blue;
}

#nav div:hover {
	opacity: 0.5;
}

#nav {
	position: absolute;
	width: 200px;
	height: 30px;
	margin-top: 590px;
	margin-left: 25px;
}

#navbar {
	display: block;
	white-space: nowrap;
	width: 100%;
	overflow: auto;
	margin: 0;
	padding: 0;
}


.img {
	width: 1152px;
	height: 238px;
	background-image: url(../img/top.jpg);
}

.text{
	position:absolute;
	left:45%;
	top:15%;
}

body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
}

li {
	list-style-type: none;
}

#menu {
	width: 100%;
	margin: 0px auto 0px;
	padding: 0px;
	height: 33px;
	background-color: darkgrey;
}

#menu li {
	float: left;
	width: 110px;
	line-height: 33px;
	text-align: center;
	vertical-align: middle;
	position: relative;
	border: none;
}

#menu li a {
	font-size: 16px;
	color: #e6f8e9;
	display: block;
	vertical-align: middle outline:0;
	text-decoration: none;
}

#menu li:hover a {
	color: white;
	/*导航栏文字颜色 */
	vertical-align: middle;
}

#menu li:hover .dropdown_1column {
	left: 0px;
	top: 33px;
}

a{text-decoration:none}

a:hover{text-decoration:none}

.dropdown_1column {
	/* 下拉菜单边框颜色*/
	margin: 0px auto;

	float: left;
	position: absolute;
	left: 999em;
	text-align: left;

	border-top: none;
	background: darkgray;
	width: 240px;
}

#menu li:hover div a {
	/* 下拉菜单文字颜色*/
	font-size: 12px;
	color: #444;
}

#menu li:hover div a:hover {
	color: #21910e;
}


/*下拉带单鼠标停留颜色*/

#menu li ul {
	list-style: none;
	padding: 10px 5px;
	margin: 0;
	vertical-align: middle;
}

#menu li ul li {
	font-size: 12px;
	line-height: 26px;
	position: relative;
	padding: 0;
	margin: 0;
	vertical-align: middle;
	float: none;
	text-align: left;
	width: 130px;
}

#menu li ul li:hover {
	background: none;
	border: none;
	padding: 0;
	margin: 0;
}

.active {
	text-align: right;
	height: 33px;
	width: 100%;
	vertical-align: middle;
	background-color: darkgrey;
}

.order {
	height: 60px;
	line-height: 60px;
	text-align: center;
}

.order .line {
	display: inline-block;
	width: 150px;
	border-top: 1px solid #ccc;
}

.order .txt {
	vertical-align: -4px;
}

.container {
	justify-content: center;
	width: 10%;
	height: 5%;
	position: relative;
	left: 50%;
	top: 5%;
	transform: translate(-20%, -20%);
	display: flex;
	flex-flow: row;
	/*background: blue;*/
}

.left {
	width: 20%;
	height: 50%;

}

.right {
	margin-left: 30px;
	margin-top: 10px;
	width: 80%;
	height: 80%;
	/*background: yellow;*/
}

.in {
	justify-content: center;
	/*background: pink;*/
	width: 40%;
	height: 10%;
	position: absolute;
	left: 30%;
	top: 80%;
}

.container1 {
	justify-content: center;
	width: 40%;
	height: 40%;
	position: absolute;
	left: 50%;
	top: 115%;
	transform: translate(-50%, -50%);
	display: flex;
	flex-flow: row;
	/*background: blue;*/
}

.left1 {
	width: 20%;
	height: 100%;
	/*background: red;*/
}

.right1 {
	margin-left: 30px;
	margin-top: 10px;
	width: 80%;
	height: 80%;
	/*background: yellow;
*/
}
.container2 {
	justify-content: center;
	width: 40%;
	height: 30%;
	position: absolute;
	left: 60%;
	top: 65%;
	transform: translate(-50%, -50%);
	display: flex;
	flex-flow: row;
}

.left2 {
	width: 20%;
	height: 100%;
}

.right2 {
	margin-left: 30px;
	margin-top: 50px;
	width: 80%;
	height: 70%;
}

.butt1{

	justify-content: center;
	width: 40%;
	height: 7%;
	position: absolute;
	left: 70%;
	top: 85%;
	transform: translate(-50%, -50%);
	display: flex;
	flex-flow: row;
}

.con1 {
	justify-content: center;
	width: 40%;
	height: 7%;
	position: absolute;
	left: 60%;
	top: 45%;
	transform: translate(-50%, -50%);
	display: flex;
	flex-flow: row;

}

.con1left {
	width: 20%;
	height: 100%;

}




.con1right {
	margin-left: 30px;
	margin-top: 0px;
	width: 80%;
	height: 50%;

}

.container3 {
	justify-content: center;
	width: 40%;
	height: 30%;
	position: absolute;
	left: 60%;
	top: 65%;
	transform: translate(-50%, -50%);
	display: flex;
	flex-flow: row;

}

.left3 {
	width: 20%;
	height: 100%;
}

.right3 {
	margin-left: 30px;
	margin-top: 50px;
	width: 80%;
	height: 70%;

}

.container4 {
	justify-content: center;
	width: 40%;
	height: 30%;
	position: absolute;
	left: 55%;
	top: 65%;
	transform: translate(-50%, -50%);
	display: flex;
	flex-flow: row;
}

.left4 {
	width: 20%;
	height: 100%;
}

.right4 {
	margin-left: 90px;
	margin-top: 30px;
	width: 80%;
	height: 70%;
}

.butt2{
	justify-content: center;
	width: 40%;
	height: 7%;
	position: absolute;
	left: 64%;
	top: 90%;
	transform: translate(-50%, -50%);
	display: flex;
	flex-flow: row;
}
