/*FONT FORMATTING*/

body{
	font-family: 'Montserrat', sans-serif;
}

h1, h2 {
	font-family:'Cinzel', serif;
	font-weight: 700;
}

h3, h4, h5 {
	font-weight: 500;
}

/*END OF FONT FORMATTING*/


/*LINK FORMATTING*/
.navlink{
 text-decoration: none;
 outline: none;
 color: black;
 padding: 0.75rem;
 margin: 0.25rem;
}

.navlink:hover, .navlink:focus{
 border:1px solid  #999999 ;
}

.navlink:active{
 text-decoration: underline;
}

.intextlink{
	color:inherit;
}

.intextlink:hover, .intextlink:focus{
	color: grey;
}

.intextlink:active{
	color: inherit;
}

/*END OF LINK FORMATTING*/

/*BUTTON FORMATTING*/
.submitbutton{
 border: none;
 background-color: black;
 padding: 1rem 2rem;
 color: white;
 border-radius: 4px;
 margin-right: 1rem;
}
.submitbutton:hover{
 border: black;
 background-color: #404040;
 color: white;
}

.submitbutton:active{
 border: solid;
}

.resetbutton{
	border: solid 0.5px;
  background-color: white;
  padding: 1rem 2rem;
  color: black;
  border-radius: 4px;
  margin-right: 1rem;
}

/*END OF BUTTON FORMATTING*/


/*SWATCH FORMATTING*/

.swatch {
	border: dotted 1px;
	padding: 2rem;
	display: inline-block;
}

.beigeswatch {
	background-color: #f5edce;
	display:block;
	width: 12rem;
	height: 12rem;
}
.pearswatch {
	background-color: #e9f2bd;
	display:block;
	width: 12rem;
	height: 12rem;
}
.amberswatch {
	background-color: #f0db97;
	display:block;
	width: 12rem;
	height: 12rem;
}
.blackswatch {
	background-color: #000000;
	display:block;
	width: 12rem;
	height: 12rem;
}
.whiteswatch {
	background-color: #ffffff;
	display:block;
	width: 12rem;
	height: 12rem;
	border: solid 1px;
}

/*END OF SWATCH FORMATTING*/

.divider{
	width: 35rem;
	border: 1px solid grey;
}

section {
	margin: 3rem 2rem;
}

.container{
	width: 100%;
	height: 600px;
	background-color: white;
	line-height: 20px;
}
.photo{
	width: 90%;
	background-color: #eee;
	margin: auto;
}

.photo p{
	text-align: center;
}

.six{
	width: 90%;
	margin: auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
}
.six .s{
	background-color: #eee;
	height: 50px;
	width: 16.3%;
}
.six p{
	text-align: center;
}

.six .t{
	background-color: #eee;
	height: 50px;
	width: 33%;
}

#color1{
	width: 150px;
	height: 100px;
	background-color: rgb(245,237,206);
}
#color2{
	width: 150px;
	height: 100px;
	background-color: rgb(233,242,189);
}
#color3{
	width: 150px;
	height: 100px;
	background-color: rgb(34,35,36);
}
#color4{
	width: 150px;
	height: 100px;
	background-color: rgb(240,219,151);
}


.item{
	display: inline-block;
	padding-left: 100px;
}

.price{
	color: gray;
}

.brandname{
	text-align:center;
	font-family: cinzel;
	font-weight: lighter;
	line-height: 0.3;
	letter-spacing: 1.2px;
}

.location{
	text-align:center;
	font-family: cinzel;
	font-weight: lighter;
	line-height: 0;
	letter-spacing: 0.1px;
}

.navi{
	float: left;
    height: 60px;
    margin: auto;
}
.navi li{
	font-family: cinzel;
	float: left;
	padding-bottom:30px;
	padding-left: 30px;
	list-style-type: none;
}

.navi a{
	line-height:50px;
	text-decoration: none;
	color: gray;
	text-align: center;
}

.cover{
	width: 90%;
	margin: auto;
}
